body{
    height: 90vh;
    width: 100%;
    color: rgb(8, 6, 0);
    background: linear-gradient(rgba(235, 108, 65, .01),rgba(192, 29, 29, 0.01),rgba(253, 252, 252, 0.01)),url("/images/cotton.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.card {
    background-color: rgba(255, 255, 255, .1);  
    backdrop-filter: blur(2px);
   }